[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS1584: XML comment has syntactically incorrect cref attribute
dotnet_diagnostic.CS1584.severity = suggestion

# IDE0090: User 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# VSSpell001: Spell Check
dotnet_diagnostic.VSSpell001.severity = none
dotnet_diagnostic.VSSpell002.severity = none
