# Auto detect text files and perform LF normalization
* text=auto
Docs/* linguist-documentation=false
Docs/* linguist-vendored
Docs/Generator/* linguist-documentation=false
Docs/Generator/* linguist-vendored